# SET UP

In [1]:
import os
import pandas as pd
import numpy as np
import sqlite3

# Set project folder as directory
os.chdir(r'C:/Users/david/Projects/Linking_Biblical_Archeology')

# Remove row and column limits
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

# Display all output from each cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# PULLING DATA

I am going to pull the text for the Webster Bible. I got this data from Kaggle.

In [2]:
webster_text = pd.read_csv('Translations/Websters Bible/t_wbt.csv')

In [3]:
webster_text.info()
webster_text.describe()
webster_text.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31106 entries, 0 to 31105
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31106 non-null  int64
 1   b       31106 non-null  int64
 2   c       31106 non-null  int64
 3   v       31106 non-null  int64
 4   t       31106 non-null  object
dtypes: int64(4), object(1)
memory usage: 1.2+ MB

                 id             b             c             v
count  3.110600e+04  31106.000000  31106.000000  31106.000000
mean   2.251872e+07     22.498071     20.630200     17.074005
std    1.649440e+07     16.498611     23.406802     14.061783
min    1.001001e+06      1.000000      1.000000      1.000000
25%    9.021003e+06      9.000000      6.000000      7.000000
50%    1.910300e+07     19.000000     14.000000     14.000000
75%    4.000701e+07     40.000000     26.000000     23.000000
max    6.602202e+07     66.000000    150.000000    176.000000

,id,b,c,v,t
0,1001001,1,1,1,In the beginning God created the heaven and the earth.
1,1001002,1,1,2,"And the earth was without form, and void; and darkness was upon the face of the deep: and the Spirit of God moved upon the face of the waters."
2,1001003,1,1,3,"And God said, Let there be light: and there was light."
3,1001004,1,1,4,"And God saw the light, that it was good: and God divided the light from the darkness."
4,1001005,1,1,5,"And God called the light Day, and the darkness he called Night: and the evening and the morning were the first day."

# CREATING SQL DATABASE

To begin, I'm going to create a SQL database for this project. This database will contain all of the data I pull or produce.

In [4]:
database = 'Data/SQL database.db'

In [5]:
conn = sqlite3.connect(database) 
print(sqlite3.version)
conn.close()

2.6.0

# PUSHING BIBLE DATAFRAME TO SQL DATABASE

In [6]:
conn = sqlite3.connect(database)
webster_text.to_sql('t_wbt', conn, if_exists='replace', index=False)
conn.close()

31106

# VIEWING TABLES IN SQL DATABASE

In [7]:
conn = sqlite3.connect(database)
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")

for i in cursor.fetchall():
    print(i[0])
    
conn.close()

t_wbt

# VIEW COLUMN NAMES IN t_wbt

In [8]:
conn = sqlite3.connect(database)
cursor = conn.cursor()

cursor.execute("SELECT * FROM t_wbt")

for i in list(cursor.description):
    
    print(i[0])
    
conn.close()

id
b
c
v
t

# VIEW FIRST TEN ROWS OF t_wbt

In [9]:
conn = sqlite3.connect(database)
cursor = conn.cursor()

print(pd.read_sql_query("SELECT * FROM t_wbt LIMIT 10", conn))

conn.close

        id  b  c   v  \
0  1001001  1  1   1
1  1001002  1  1   2
2  1001003  1  1   3
3  1001004  1  1   4
4  1001005  1  1   5
5  1001006  1  1   6
6  1001007  1  1   7
7  1001008  1  1   8
8  1001009  1  1   9
9  1001010  1  1  10

                                                                                                                                                  t
0                                                                                            In the beginning God created the heaven and the earth.
1    And the earth was without form, and void; and darkness was upon the face of the deep: and the Spirit of God moved upon the face of the waters.
2                                                                                            And God said, Let there be light: and there was light.
3                                                             And God saw the light, that it was good: and God divided the light from the darkness.
4                               And God called the light Day, and the darkness he called Night: and the evening and the morning were the first day.
5                                  And God said, Let there be a firmament in the midst of the waters, and let it divide the waters from the waters.
6  And God made the firmament; and divided the waters which were under the firmament from the waters which were above the firmament: and it was so.
7                                                         And God called the firmament Heaven: and the evening and the morning were the second day.
8                             And God said, Let the waters under the heaven be gathered into one place, and let the dry land appear: and it was so.
9                                     And God called the dry land Earth, and the collection of waters he called Seas: and God saw that it was good.